{% extends 'base.html' %}
{% block title %}Shop{% endblock %}
{% load static %}
{% block body %}
<style>
    .card-input-element {
        display: none;
    }
    label {
        width: 100%;
    }
    .card-input {
        margin: 10px;
        padding: 00px;
    }
    
    .card-input:hover {
        cursor: pointer;
    }
    
    .card-input-element:checked + .card-input {
         box-shadow: 0 0 2px 2px #fd7e14;
     }
    
    
    
    </style>
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="../home"><i class="fa fa-home"></i> Home</a>
                        <a href="../shop">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="checkout-section spad">
        <div class="container">
            <form action="placeorder" method="post" class="checkout-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Biiling Details</h4>
                         <!-- Address selection radio -->
                    <div class="row">
                        {% for i in addresses %}
                        <div class="col-md-4 col-lg-4 col-sm-4">

                            <label>
                                <input type="radio" value="{{i.id}}" name="addresss" class="card-input-element" />

                                <div class="panel panel-default card-input">
                                    <div class="panel-heading">{{i.first_name}}</div>
                                    <div class="panel-body">
                                        {{i.address1}}
                                        {{i.city}}
                                        {{i.phone}}
                                    </div>
                                </div>
                            </label>

                        </div>

                        {% endfor %}
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <a class="btn btn-primary" href="add_address">ADD ADDRESS</a>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="place-order">
                            <h4>Your Order</h4>
                            <div class="order-total">
                                <ul class="order-table">
                                    <li>Product <span>Total</span></li>
                                    {% for i in data %}
                                    <li class="fw-normal">{{i.item.name}} x {{i.quantity}} <span>₹{{i.get_total_item_price}}</span></li>
                                    {% endfor %}
                                    <li class="fw-normal">Subtotal <span>₹{{gt}}</span></li>
                                    <li class="total-price" >Total <span>₹{{gt}}</span></li>

                                </ul>
                                <div class="order-btn">
                                    <button type="submit"  class="site-btn place-btn">Proceed Payments</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>
    <!-- Shopping Cart Section End -->
{% endblock %}